.button {
  display: inline-block;
  padding-top: 11px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 11px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  color: $white;


  background-color: $leaf;
  text-decoration: none;

  &--show-all {
    color: $grey;

    background-color: $lightgrey;
  }
}
