.example {
  background-color: $lightgrey;
}

.example__wrapper {

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 42px;
}

.example__about {
  @include container;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 38px;
}

.example__title {
  margin-top: 0;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;

  font-family: $arial;
  color: $grey;
}

.example__feature {
  position: relative;

  width: 125px;
  margin-top: 0;
  margin-bottom: 38px;
  padding: 15px 0;

  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;
}

.example__result {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.expamle__result-description {
  position: absolute;
  top: 48px;
  left: 50%;

  padding: 0 10px;

  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  text-transform: none;
  color: $grey;

  background-color: $lightgrey;

  transform: translateX(-50%);
}

.example__cost {
  width: 100%;
  margin: 0;

  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.example__figure {
  width: 100%;
  margin: 0;
}

.example__image {
  display: block;
  width: 100%;
  margin-bottom: 35px;

  &--before {
    display: block;
  }

  &--after {
    display: none;
  }
}

.example__caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__button {
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;

  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.example__range {
  position: relative;

  width: 84px;
  height: 14px;
  margin: 0 18px;
  padding: 4px 6px;

  background-color: $white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;

    width: 35px;
    max-width: 72px;
    height: 6px;

    background-color: $leaf;
    border-radius: 3px;

    transform: translateY(-50%);
  }
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid transparent;
    background-color: $lightgrey;
  }

  .example__wrapper {
    justify-content: flex-start;
    margin-top: -595px;
    padding-top: 45px;
    padding-bottom: 68px;
  }

  .example__title {
    margin-bottom: 62px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__feature {
    align-self: flex-start;
    width: 162px;
    margin-right: 42px;
    padding: 20px 0;
  }

  .example__result {
    font-size: 30px;
    line-height: 30px;
  }

  .expamle__result-description {
    top: 63px;

    padding: 0 8px;
    min-width: 100px;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;

    white-space: nowrap;
  }

  .example__cost {
    max-width: 190px;
    margin-left: auto;
    margin-bottom: 88px;

    font-size: 20px;
    line-height: 36px;
    text-align: right;
  }

  .example__image {
    width: 690px;
    height: 517px;
    margin: 0 auto;
  }

  .example__button {
    padding: 6px 0;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);


    &:hover {
      border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .example__range {
    width: 428px;
    height: 6px;
    margin: 0 24px;
    padding: 0;

    border: 0;
    background-color: #dcdcdc;

    &::before {
      left: 428px / 2 - 34px / 2;

      width: 34px;
      height: 34px;

      border: 1px solid #cdcdcd;
      border-radius: 50%;
      background-color: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    &:hover::before {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active::before {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      border: 2px solid $leaf;
    }

    &::after {
      content: "";
      position: absolute;
      left: 428px / 2 - 8px / 2;
      top: 50%;

      width: 8px;
      height: 8px;

      background-color: $leaf;
      border-radius: 50%;
      cursor: pointer;

      transform: translateY(-50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -193px;
    padding-top: 0;
  }

  .example__about {
    justify-content: flex-start;
    width: 430px;
    margin: 0;
    padding-top: 53px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    margin-bottom: 70px;
  }

  .example__feature {
    margin-bottom: 57px;
  }

  .expamle__result-description {
    background-color: $lightgrey;
  }

  .example__cost {
    width: 100%;
    max-width: none;
    margin: 0;

    line-height: 1;
    text-align: left;
  }

  .example__price {
    margin-left: 60px;
  }

  .example__figure {
    position: relative;
    left: 60px;
    width: 690px;
  }

  .example__image {
    position: relative;
    margin-bottom: 33px;

    right: 20px;
  }

  .example__caption {

  }
}
