.order__header {
  margin-bottom: 40px;
}

.order__wrapper {
  @include container;
  padding-top: 18px;
  padding-bottom: 35px;
}

.order__title {
  margin-top: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.order__description {
  width: 230px;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $tablet-width) {
  .order__title {
    font-size: 60px;
  }

  .order__description {
    width: 350px;
    margin-left: 39px; // (708-360)/2

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__description {
    margin-left: 0;
  }
}
