.order__header {
  @include container;

  margin-bottom: 40px;
}

.order__form {
  padding-bottom: 32px;
}

.order__title {
  margin-top: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.order__description {
  width: 230px;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $tablet-width) {
  .order__form {
    padding-bottom: 72px;
  }

  .order__header {
    margin-bottom: 65px;
  }

  .order__title {
    margin-bottom: 57px;

    font-size: 60px;
  }

  .order__description {
    width: 350px;
    margin-left: 39px; // (708-360)/2

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    padding-top: 73px;
    padding-bottom: 82px;
  }

  .order__description {
    margin-left: 0;
  }
}
