.page-header__wrapper {
  @include container;

  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 11px;
  padding-left: 0;
  padding-right: 0;

  border-bottom: 1px solid $lightgrey;
}

.page-header__logo {
  padding-left: 20px;
  padding-bottom: 15px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo--index {
  cursor: default;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    margin-bottom: 56px;
    padding-top: 24px;

    border-bottom: none;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &--index {
      position: relative;

      min-height: 50vw; //640px; // 50% of 1280px
    }
    // &--index {
    // background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, $leaf 50%);
    // background-position: right top, top left;
    // background-size: 50%, auto;
    // background-repeat: no-repeat;
    //
    // @media ($retina) {
    //   background-image: url("../img/index-background-desktop@2x.jpg");
    // }
    // }

    &--index::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 50%;
      height: 100%;

      background-color: $leaf;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;

      @media ($retina) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .page-header__wrapper {
    margin-bottom: 75px;
    padding-top: 53px;

    &--index {
      margin-bottom: 0;
    }
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}

// @media (min-width: 1340px) {
//   .page-header {
//     min-height: 670px; // 50% of 1340px
//   }
// }
//
@media (min-width: 1440px) {
  .page-header {
    min-height: 720px; // 50% of 1440px
  }
}
