.page-footer {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;

  text-align: center;

  background-color: $lightgrey;
}

.page-footer__copyright {
  display: block;
  width: 100%;

  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  text-align: left;
  color: $grey;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 27px 34px;
  text-decoration: none;
}
