.page-footer {
  padding-top: 40px;
  padding-bottom: 22px;

  text-align: center;

  background-color: $lightgrey;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__copyright {
  display: block;
  width: 100%;

  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  text-align: left;
  color: $grey;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 27px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__copyright {
    width: auto;
    padding-right: 50px;
  }
}
