.page-footer {
  text-align: center;

  background-color: $lightgrey;
}

.page-footer__wrapper {
  @include container;

  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 22px;
}

.page-footer__logo {
  padding-bottom: 30px;

  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 22px;
  padding: 22px 0;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 11px;

  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  text-decoration: none;
  text-align: left;
  color: $grey;

  &:active {
    opacity: 0.3;
  }

  &:hover .page-footer__copyright-icon {
    fill: $leaf;
  }

  .page-footer__copyright-icon {
    fill: #666666;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    padding-bottom: 0;

    border-bottom: none;
  }

  .page-footer__social {
    margin-bottom: 0;
    padding: 0;

    border-bottom: none;
  }

  .page-footer__copyright {
    width: auto;
    padding-right: 50px;
  }
}
