.page-header__wrapper {
  @include container;

  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 11px;
  padding-left: 0;
  padding-right: 0;

  border-bottom: 1px solid $lightgrey;
}

.page-header__logo {
  width: 191px;
  padding-left: 20px;
  padding-bottom: 15px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    padding-top: 24px;

    border-bottom: none;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &--index {
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: right top;
      background-size: 50%;
      background-repeat: no-repeat;
    }
  }

  .page-header__wrapper {
    padding-top: 53px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
