.product {
  &--add-more {
    padding-top: 55px;

    text-align: center;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 31px;
  }
}

.product__title-link {
  text-decoration: none;
}

.product__title {
  margin-top: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  text-decoration: none;
}

.product__subtitle {
  font-family: $arial;
}

.product__attributes {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
}

.product__order {
  width: 100%;

  text-align: center;
}


@media (min-width: $tablet-width) {
  .product {
    padding: 40px;
    padding-top: 165px;

    text-align: center;

    &--add-more {
      border: 1px solid #cdcdcd;
      background-color: $white;
      background-image: url("../img/icon-plus.svg");
      background-position: center 55px;
      background-size: 61px;
    }
  }

  .product__link {
    position: relative;

    display: block;
  }

  .product__image {
    position: absolute;
    bottom: 40px;
    margin-left: calc(-324px / 2);

    max-width: none;
  }

  .product__attributes {
    width: 100%;

    text-align: left;
  }

  .product__value {
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .product {
    padding-left: 38px;
    padding-right: 38px;
  }

  .product__image {
    margin-left: calc(-245px / 2);
  }
}
