.programs__wrapper {
  @include container;
}

.programs__list {
  @include clear-list;
}

.programs__item {
  margin-bottom: 20px;
  padding: 22px 20px;
  background-color: $lightgrey;
}

.programs__title {
  position: relative;

  margin-top: 0;
  padding-top: 15px;
  padding-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;

  background-repeat: no-repeat;

  &--slim {
    background-image: url("../img/icon-cat-slim.svg"), url("../img/icon-circle.svg");
    background-size: 35px, 50px;
  }

  &--pro {
    background-image: url("../img/icon-cat-pro.svg"), url("../img/icon-circle.svg");
    background-size: 67px, 50px;
  }
}

.programs__text {
  font-family: $arial;
  color: $grey;
}

.programs__to-catalog {
  position: relative;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;

  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: calc(-25px - 12px);

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    right: calc(-34px - 12px);

    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .programs__item {
    padding-top: 80px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 60px;

    background-position: right;
    background-repeat: no-repeat;

    &--slim {
      background-image: url("../img/icon-cat-slim.svg"), url("../img/icon-circle.svg");
      background-size: 141px, 200px;
    }

    &--pro {
      background-image: url("../img/icon-cat-pro.svg"), url("../img/icon-circle.svg");
      background-size: 268px, 200px;
    }
  }

  .programs__title {
    padding: 0;

    background-image: none;
  }
}


@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    flex-basis: 570px;

    background-image: none;
  }

  .programs__title {
    padding-left: 165px;

    &--slim {
      background-image: url("../img/icon-cat-slim.svg"), url("../img/icon-circle.svg");
      background-size: 71px, 100px;
    }

    &--pro {
      background-image: url("../img/icon-cat-pro.svg"), url("../img/icon-circle.svg");
      background-size: 134px, 100px;
    }
  }
}
