.promo {
  @include container;

  padding-top: 30px;
  padding-bottom: 22px;

  font-size: 14px;
  line-height: 1;
  font-family: $oswald;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-position: left 50% bottom 65px, top;
  background-repeat: no-repeat;
  background-size: 280px, contain;

  @media ($retina) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 19px;

  font-weight: 400;
  font-size: 36px;
  text-transform: none;
}

.promo__slogan {
  margin-bottom: 300px;
}

.promo__slogan-text {
  font-weight: 400;
}

.promo__to-program {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 867px;
    padding-top: 56px;
    padding-left: 90px;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: $black;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: bottom;
    background-size: 709px;

    @media ($retina) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .promo__title {
    max-width: 420px;
    margin-bottom: 40px;

    font-size: 60px;
  }

  .promo__slogan {
    margin-bottom: 48px;
  }

  .promo__to-program {
    width: auto;
    padding-top: 16px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 630px;
    padding-top: 108px;
    padding-left: 80px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 450px 30px;
    background-size: 522px;

    @media ($retina) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .promo__slogan {
    margin-bottom: 53px;
  }
}
