.social__list {
  @include clear-list;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &:hover .social__icon {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  fill: #666666;

  &--vkontakte {
    width: 22px;
    // height: 12px;
    height: 19px;
  }

  &--instagram {
    width: 17px;
    height: 17px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 28px;
  }

  .social__link {
    &--vkontakte {
      width: 30px;
      height: 16px;

      background-size: 30px;
    }

    &--instagram {
      width: 23px;
      height: 23px;

      background-size: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;

      background-size: 14px;
    }
  }
}
